*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

body{
    background-color: black;
    color: #fff;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.contenedor-grid{
    /* width: 100%; */
    height: 100%;

    /* padding: 1rem; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 7%;
}


/* HEADER */
header{
    grid-column: 1/2;
    grid-row: 1/2;

    height: 100%;
}
.encabezado{
    /* background-color: dodgerblue; */
    background-color: #222;
    /* border-bottom: .5rem solid dodgerblue; */
    position: sticky;
    top: 0;

    display: flex;
    flex-wrap: wrap;
}


.encabezado__titulo{
    flex-basis: 34%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5rem;
}
.encabezado__titulo__link{
    flex-basis: 50%;
}
.encabezado__titulo__link__imagen{
    width: 100%;
}


.form{
    flex-basis: 33%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.form__buscador{
    width: 100%;
    height: 3rem;

    color: #fff;
    background-color: rgb(30, 144, 255);
    font-size: 1.2rem;
    border: .3rem solid rgb(30, 144, 255);
    border-radius: .5rem;
    
}
.form__buscador::placeholder{
    color: #fff;
}


.contenedor-boton{
    flex-basis: 33%;
    flex-grow: 1;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 4rem;

}
.boton-registrar{
    width: 12rem;
    height: 3rem;

    background-color: rgb(30, 144, 255);
    border: .3rem solid rgb(30, 144, 255);
    border-radius: .5rem;
}
.link-registrar{
    text-decoration: none;
    font-weight: 0;
    font-size: 1.2rem;
    color: #fff;
} 


.encabezado__barra-navegacion{
    /* width: 100%; */
    background-color: rgb(30, 144, 255);
    height: 3rem;
    flex: 1;
    align-self: auto;
    padding-top: .8rem;
}
ul{
    display: flex;
    justify-content: center;
    /* gap: 5rem */
}
li{
    list-style: none;
    /* width: 20%; */
    /* text-align: center; */
    padding-left: 3rem;
    padding-right: 3rem;

}
.nav-link{
    text-decoration: none;
    font-size: 1.3rem;
    transition-property: "color";
    transition-property: "text-shadow";
    transition-duration: .3s;
    
    
}
.nav-link:link{
    color: #000;
}

.nav-link:visited{
    color: #000;
}
.nav-link:hover{
    color: #fff;
    text-shadow: 0px 0px 1rem #000;
}

/* FIN HEADER */


/* SECTION */
.section-producto{
    grid-column: 1/2;
    grid-row: 2/3;
    /* border: 1px solid red; */

    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;

}

.contenedor-producto{
    /* border: 1px solid green; */

    /* background-color: #222; */
    width: 70%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 1%;

}

.contendor-imagen-general{
    /* border: 1px solid salmon; */
    width: 65%;
    height: 84%;

    display: flex;
    flex-direction: column;
}

.contendor-imagen1{
    /* border: 1px solid blue; */

    background-color: #222;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen1{
    width: 95%;
    height: 95%;
}


.contenedor-imagenes{
    background-color: #222;
    width: 100%;
    height: 20%;
    /* border: 1px solid cornflowerblue; */
    /* height: 90%; */
    
    display: flex;
    justify-content: space-evenly;
}

.caja2-imagen2, .caja3-imagen3, .caja4-imagen4{

    /* border: 1px solid yellow; */
    width: 20%;
    height: 90%;
}
.imagen2, .imagen3, .imagen4{
    width: 100%;
    height: 100%;
}

/* .caja2-imagen2{

}
.imagen2{

}

.caja3-imagen3{

}
.imagen3{

}

.caja2-imagen4{

}
.imagen4{

} */


.contendor-informacion{
    /* border: 1px solid blue; */

    background-color: #222;
    width: 34%;
    height: 84%;

    display: flex;
    flex-direction: column;
    gap: 3%;
}
.titulo{
    font-size: 2rem;
    padding-left: 10px;

    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 18px;
    /* width: 95%; */
   
    /* border: 1px solid red; */
}

.caja-precio-texto{
    /* border: 1px solid red; */
    padding-left: 18px;
    border-top: 2px solid rgb(30, 144, 255);
    padding-top: 6px;
    
}
.texto{
    font-size: 1.6rem;
    padding-top: 20px;
    /* border: 1px solid green; */
}
.precio{
    font-size: 2.5rem;
    /* border: 1px solid green; */
}

.caja-precio-mp{
    /* border: 1px solid red; */

    border-top: 2px solid rgb(30, 144, 255);
    padding-top: 6px;
    
    width: 100%;
    padding-left: 18px;

    padding-top: 40px;
    padding-bottom: 15px;

    display: flex;
}
.precio-mp{
    font-size: 1.5rem;
    color: rgb(30, 144, 255);
}
.mercadopago{
    padding-right: 18px;
    width: 40%;
}

.caja-cuotas-precio{
    /* border: 1px solid red; */
   
    border-top: 2px solid rgb(30, 144, 255);
    padding-left: 18px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.cuotas{
    font-size: 1.5rem;
}


.caja-caracteristicas{
    /* border: 1px solid red; */
    padding-left: 18px;
    padding-top:45px;
    padding-bottom: 18px;
    border-top: 2px solid rgb(30, 144, 255);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.caja-garantia{
    width: 43%;
    background-color: rgb(30, 144, 255);
    border: 1px solid rgb(30, 144, 255);
    border-radius: .5rem;
    display: flex;
}
.garantia{
    font-size: 1.2rem;
    margin: 0 auto;
}
.caja-stock{
    
    width: 40%;
    background-color: rgb(30, 144, 255);
    border: 1px solid rgb(30, 144, 255);
    border-radius: .5rem;

    display: flex;
}
.stock{
    font-size: 1.2rem;
    margin: 0 auto;
}
.caja-envio{
    width: 48%;
    background-color: rgb(30, 144, 255);
    border: 1px solid rgb(30, 144, 255);
    border-radius: .5rem;

    display: flex;
}
.envios{
    font-size: 1.2rem;
    margin: 0 auto;
}

.caja-boton{
    /* border: 1px solid red; */

    padding-top: 48px;
    padding-left: 18px;
    border-top: 2px solid rgb(30, 144, 255);
}
.boton{
    width: 95%;
    height: 3rem;
    background-color: rgb(30, 144, 255);
    border: 1px solid rgb(30, 144, 255);
    border-radius: .5rem;
    cursor: pointer;
}
.link-boton{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}



.informacion-producto{
    /* border: 1px solid red; */

    background-color: #222;
    width: 100%;
    height: 15%;
    padding: 10px 18px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.caracteristicas-generales{
    /* border: 1px solid blue; */
    
    width:49%;

    display: flex;
    justify-content: center;

    flex-direction: column;
}
.titulo-caracteristicas{
    font-size: 23px;
    border-bottom: 2px solid rgb(30, 144, 255);
    padding-bottom: 5px;
}

.caja-caracteristica{
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}
.parrafo-caracteristicas{
    font-size: 20px;

    /* width: 50%; */
    padding: 2px;
    /* border: 1px solid blue; */
}


.conectividad{
    /* border: 1px solid green; */

    width: 49%;

    
}

.titulo-conectividad{
    font-size: 23px;
    border-bottom: 2px solid rgb(30, 144, 255);
    padding-bottom: 5px;
}

.caja-conectividad{
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}
.parrafo-conectividad{
    font-size: 20px;
    padding: 2px;
}


.color-fondo{

    background-color: #000;
}

/* FIN SECTION */



/* FOOTER */

.contenedor-footer{
    /* background-color: dodgerblue; */
    background-color: #222;
    padding: .8rem;
    border-top:.5rem solid dodgerblue;

    height: 100%;

    grid-column: 1/2;
    grid-row: 3/4;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}


.contenedor-footer__redsocial{
    flex-basis: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.contenedor-footer__redsocial__titulo{
    color: #fff;
    text-align: center;
}
.contenedor-footer__redsocial__red-social{

}
.contenedor-footer__redsocial__red-social__link{
    text-decoration: none;
}
.imagen-social{
    width: 4rem;
    height: 4rem;

    /* filter:drop-shadow(0px 0px 6px #fff); */
}


.contenedor-footer__horarios{
    flex-basis: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.contenedor-footer__horarios__titulo{
    color: #fff;
    text-align: center;
}
.contenedor-footer__horarios__hora{
    color: #fff;
}


.contenedor-footer__mapa{
    flex-basis: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-footer__mapa__titulo{
    color: #fff;
    text-align: center;
}
.iframe{
    border: 2px solid #fff;
    margin: .5rem;
    width: 300px;
    height: 200px;
}

/* FIN FOOTER */